.table > tbody > tr.black-mark {
    border-left: 0.3em solid #222d32;
    border-right: 0.3em solid #222d32;
}

.black {
    color: #222d32;
}

.box.box-black {
    border-top-color: #222d32;
}

.btn-black {
    color: #ffffff;
    background-color: #222d32;
    border-color: #1a2226;;
}

.btn-black:hover, .btn-black:active, .btn-black.hover {
    color: #ffffff;
    background-color: #222d32;
}

.scrollable-left {
    background-color: #2ecc71;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
}

.scrollable-right {
    height: 100%;
    position: absolute;
    overflow-y: scroll;
}

.input-group-addon {
    border-left-width: 0;
    border-right-width: 0;
  }
  .input-group-addon:first-child {
    border-left-width: 1px;
  }
  .input-group-addon:last-child {
    border-right-width: 1px;
  }
